body {
  margin: 0 auto;
  width: 80%;
  background-color: rgb(221, 221, 221);
}

h1,
h2,
h3,
h4,
p,
div,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

#main {
  width: 80%;
  margin: 100px auto;
  background-color: #fff;
  text-align: left;
  border: 2px solid rgb(235, 235, 235);
  -webkit-box-shadow: 6px 6px 21px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 6px 6px 21px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 6px 6px 21px 5px rgba(50, 50, 50, 0.75);
}

li {
  list-style-type: none;
  border-bottom: 2px solid rgb(236, 236, 236);
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
}

#header-ele {
  display: flex;
  padding: 0 50px;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid rgb(236, 236, 236);
}

#add-new {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid rgb(236, 236, 236);
}

i {
  color: green !important;
}

#add {
  width: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
}

.svg-inline--fa {
  margin-left: auto;
  margin-right: 15px;
}

#add-new input {
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

::placeholder {
  padding: 50px;
  font-size: 0.9rem;
  font-style: italic;
}

#clear {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 236);
}
